//==============================================================================================================================================================
//========================================================================================================================================================
//====== Шаблоны и подключение ========================================================================================================================================================
$dark: #22222b;
$light: #faf9fe;
$text: #7f7f82;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
//========================================================================================================================================================

//======= Контейнеры ========================================================================================================================================================
// Body, html
body,html{
    // Высота равная 100% монитора
    height: 100vh; 
}
// Обращаемся к содержимому сайта
body{
    // Задаём семествой шрифта
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/bg.jpg);
    // Цвет текста согласно шаблону
    color: $dark;
}
// Главный ограничивающий контейнер
.wrapper{
    // Максимальная ширина
    max-width: 1170px;
    // Внутренний отступ слева
    padding-left: 15px;
    // Внутренний отступ справа
    padding-right: 15px;
    // Выравнивание по центру
    margin: 0 auto;
    
}
// Обращаемся к контейнеру хедера
.main{
    // Делаем фон хедера
    background-image: url(../../img/bg.jpg);
    // Делаем элементы блочными и выстраиваем согласно флекс-модели
    display: flex;
    // Выстраиваем флекс элементы вертикально сверху в низ
    flex-direction: column;
    // Высота
    height: 100%;
    // Равномерно распределяем элементы по блоку
    justify-content: space-between;
    // Внутренний отступ сверху
    padding-top: 39px;
    // Внутренний отступ снизу
    padding-bottom: 42px;
    // Меняем модель расчёта ширины и высоты у контейнера
    box-sizing: border-box;
}
// Контейнер
.header{
    // Максимальная ширина контейнера
    max-width: 1170px;
    // Внутренний отступ слева
    padding-left: 15px;
    // Внутренний отступ справа
    padding-right: 15px;
    // Выравниваем элементы по центру
    margin: 0 auto;
    // Делаем элементы блочными и выстраиваем в строку
    display: flex;
    // Равномерно распределяем по блоку
    justify-content: space-between;
    // Выравниваем элементы по центру
    align-items: center;
}
//========================================================================================================================================================

//===== Меню ========================================================================================================================================================
// Меню навигации
.nav{
    // Обнуляем отступ слева
    padding-left: 0;
    // Делаем элементы блочными и выравниваем в строку согласно флекс-модели
    display: flex;
    // Убираем точки
    list-style-type: none;
    // Обнуляем внешние отступы
    margin: 0;
    // Обращаемся к элементам внутри навигации и задаём отступ между ними
    &-item{
        // Внешний отступ слева
        margin-left: 23px;
    }
    // Обращаемся к ссылкам
    &-link{
        // Убираем нижнее подчёркивание
        text-decoration: none;
        // Красим ссылки используя шаблон
        color: $dark;
        // Добавляем нижнее подчёркивание
        border-bottom: 1px solid transparent;
        // Добавляем плавность анимации
        transition: 0.2s;
        // Ширина текста
        font-weight: 400;
        // Размер шрифта
        font-size: 16px;
        // Псевдо-элемент наведения
        &:hover{
            // Подчёркивание снизу
            border-bottom: 2px solid $dark;
            // Уменьшаем размер
            font-size: 14px;
        }
    }
}    
//========================================================================================================================================================

//======== Заголовок, текст и scroll =============================================================================================================================================
// Главный заголовок
.title-h1{
    // Размер шрифта
    font-size: 60px;
    // Выравниваем текст по центру
    text-align: center;
    // Ширина текста
    font-weight: 300;
    // Внутренний отступ сверху
    padding-top: 99px;
    // Обнуляем внутренний отступ слева
    padding-left: 0px;
    // Внутренний отступ справа
    padding-right: 10px;
    // Обращаемся к спану внутри заголовка
    span{
        // Ширина текста
        font-weight: 500;
    }
}
// Кнопка для скролла страницы
.btn-scroll{
    // Убираем заливку
    background-color: transparent;
    // Убираем границы
    border: none;
    // Делаем элемент блочным
    display: block;
    // Выравниваем по центру
    margin: 0 auto;
}
//========================================================================================================================================================

//======= Блок "About me" (Обо мне) =================================================================================================================================================
// Секция About
.about{
    // Внутренний отступ сверху
    padding-top: 240px;
    // Внутренний отступ снизу
    padding-bottom: 132px;
}
// Обращаемся к контейнеру
.box-about{
    // Делаем элементы блочными и выстраиваем согласно флекс-модели.
    display: flex;
    // Распределяем флексы равномерно, прижамая последние к краям контейнера.
    justify-content: space-between;
    // Выравниваем элементы по центру
    align-items: center;
    // Обращаемся к контейнеру
    &-item{
        flex: 0 0 46%;
        // Делаем элемент родителем
        position: relative;
        // Обращаемся к первому элементу
        &:first-child{
            // Делаем блочными и выстраиваем согласно флекс-модели.
            display: flex;
            // Прижимаем флексы к концу строки.
            justify-content: flex-end;
            flex: 0 0 50%;
        }
    }
    // Обращаемся к задней картинке
    &__back{
        // Позиционируем относительно родителя
        position: absolute;
        // Помещаем назад, под картинку
        z-index: -1;
        // Позинионируем слева
        left: 0;
        // Позинионируем по вертикали
        top: -108px;
    }
    &__vertical{
        // Позиционируем относительно родительского блока box-about.
        position: absolute;
        // Важно указывать px. Позиционируем текст по макету в левую сторону.
        left: -4px; 
        // Отпусп между символами.
        letter-spacing: 1.6px;
        // Делаем текст вертикальным.
        writing-mode: vertical-lr;
        // Указываем угол поворота.
        transform: rotate(180deg);
        // Важно указывать px. Позиционируем текст по макету в верх относительно родительского блока.(Отталкиваем)
        bottom: 58px;
        // Размер шрифта
        font-size: 16px;
        // Значение "after" означает, что элемент появится после.
        // Делаем полосочку после текста.
        &::after{
            // Обязательное свойства для псевдо-элементов
            content: '';
            // Ширина полосы.
            width: 1px;
            // Высота полосы.
            height: 45px;
            // Задаём цвет полосе используя шаблон.
            background-color: $dark;
            // Позиционируем относительно родительского блока box-about.
            position: absolute;
             // Важно указывать px. Позиционируем элемент (полосы) по макету в право.
            right: 9px;
             // Важно указывать px. Позиционируем элемент (полосы) по макету в вверх.
            top: 93px;
        }
    }
    // Обращаемся к заголовку
    &__h2{
        // Размер шрифта
        font-size: 48px;
        // Ширина шрифта
        font-weight: 500;
        // Внешний отступ снизу
        margin-bottom: 20px;
        // Внешний отступ сверху
        margin-top:12px;
    }
    // Обращаемся к тексту
    &__text{
        // Размер шрифта
        font-size: 16px;
        // Ширина шрифта
        font-weight: 400;
        // Задаём цвет тексту используя шаблон
        color: $text;
        // Межстрочный интервал
        line-height: 24px;
        // Межсимвольный интервал
        letter-spacing: 0.08px;
        // Внешний отступ снизу
        margin-bottom: 48px;
    }
}
// Обращаемся к контейнеру прогресса
.progress-bar{
    // Размер шрифта
    font-size: 16px;
    // Ширина шрифта
    font-weight: 500;
    // Обращаемся к тексту внутри контейнера прогресса
    &-text{
        // Делаем элементы блочные и выстраиваем согласно флекс-модели.
        display: flex;
        // Равномерно распределяем по контейнеру
        justify-content: space-between;
        // Выравниваем элементы по центру
        align-items: center;
        // Внешний отступ снизу
        margin-bottom: 20.5px;
        // Обращаемся к последнему элементу
        &:last-child{
            // Обнуляем нижний отступ
            margin-bottom: 0;
        }
    }
    // Обращаемся к полосе прогресса
    &-line{
        // Задаём толщину линии прогресса
        height: 2px;
        // Задаём длинну линии прогресса
        width: 100%;
        // Задаём цвет линии прогресса
        background-color: $dark;
        // Делаем элемент родителем
        position: relative;
        // Появляется перед элементом
        &::before{
            // Обязательное свойство
            content: '';
            // Добавляем иконку прогресса
            background-image: url(/img/icons/point.png);
            // Не даём ей повторятся
            background-repeat: no-repeat;
            // Делаем элемент блочным
            display: block;
            // Задаём ширину
            width: 6px;
            // Задаём высоту
            height: 11px;
            // Позинионируем относительно родителя
            position: absolute;
            // По левому краю
            left: 0;
            // По вертикали
            top: calc(50% - 5.5px);
        }
        // Появляется после элемента
        &::after{
            // Обязательное свойство
            content: '';
            // Позинионируем относительно родителя
            position: absolute;
            // По правому краю
            right: 0;
            // Делаем блочным
            display: block;
            // Высота
            height: 2px;
            // Красим используя шаблон
            background-color: $light;
        }
    }
    // Обращаемся к полосе Adobe Indesign
    &__id::after{
        // Высчитываем ширину заливки
        width: calc(100% - 65%);
    }
    // Обращаемся к полосе Adobe xD
    &__ax::after{
        // Высчитываем ширину заливки
        width: calc(100% - 80%);
    }
}
//========================================================================================================================================================

//======= Блок My Services (Мои сервисы) ================================================================================================================================================
// Секция "My Service"
.services{
    // Внутренний отступ, отталкиваемся от верхнего края блока.
    padding-top: 128px;
    padding-bottom: 100px;
    // Задаём цвет фону используя шаблон.
    background-color: $light;
    // Обращаемсяк заголовку. (h2 "My Services").
    &__title-h2{
        // Задаём размер шрифта
        font-size: 36px;
        // Устанавливаем толщину шрифта
        font-weight: 400;
        // Убираем верхний внешний отступ
        margin-top: 0;
        // Создаём нижний внешний отступ. Отталкиваем текст с тегом "services__text-p", который находится ниже текущего элемента.
        margin-bottom: 23px;
    }
    // Обращаемся к тексту под заголовком. (p services__text-p)
    &__text-p{
        // Задаём размер шрифта
        font-size: 16px;
        // Устанавливаем толщину шрифта
        font-weight: 400;
        // Задаём цвет тексту используя шаблон.
        color: $text;
    }

}
// Второй класс для текстовых элементов. Сделан для выравнивания текста по центру. Своего рода шаблон
.text-center{
    // Выравниване текста по центру
    text-align: center;
}
// Контейнер для грид сетки, в который и размещены все эелементы.
.service{
    // Задаём блоку формат сетки. Влияет только на дочерние элементы, которые находятся внутри сетки.
    // Само свойство, без параметров, ничего не делает. Т.к. занимает 1 столбел и 1 строку, т.е. весь блок.
    // Свойство grid означает, что мы создаём контейнер уровня блоков (блочная сетка)
    // Также есть аналог - inline-grid. - создаём контейнер уровня строки. (строчная сетка)
    display: grid;
    // Свойство отвечающее за разделение сетки на уровни.
    // Значения ниже означают, что мы создаём 2 строки и 3 столбца.
    // Также аналогом может быть 50% 50% / 33% 33% 33%.
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    // Внутренний отступ сетки по вертикали и горизонтали (top, botton / left, right)
    grid-gap: 31px 48px;
    // Внешний верхний отступ, в данном случае от текста (services__text-p)
    margin-top: 67px;
    // Внешний нижний отступ, в данном случае отталкиваем содержимое грид-сетки. (serivces-item)
    margin-bottom: 30px;
    // Обращение к элементу сетки (service-item)
    &-item{
        // Псевдоэлемент наведения. Работает при наведении курсором на нужный элемент.
        &:hover{
            // Обращение к тексту внутри ссылки.
            // Делаем его видимым при наведении на блок.
            .service__link-text{
                // Наследует значение родителя
                width: inherit;
                // Задаём прозрачнось элементу. В данном случае делаем его видимым.
                opacity: 1;
                // Отталкиваем элемент в правую стороу. В данном случае отталкиваем полосочку (serivce__link-line)
                padding-right: 9px;
            }
        }
    }
//========= Иконки ===============================================================================================================================================
    
    // Обращение к контейнеру, который создал для иконок.
    // Задаём параметры всем иконкам, чтобы не переписывать несколько раз.
    &__icon{
        // Показывает элемент как блочный.
        display: block;
        // Максимальная ширина иконок (На основании самой большой)
        width: 44px;
        // Максимальная высота иконок (На основании самой большой)
        height: 37px;
        // Запрещаем повтор иконок.
        background-repeat: no-repeat;
        // Создаём внешний отступ в низ. В данном случае отталкиваем заголовок. (service__title)
        margin-bottom: 34px;
    }
    // Обращаемся к блокам с разными классами.
    // Вставляем иконку через свойство bgi (background-image: url();)
    // Задаём размер иконки жёстко, чтобы она была такой на всех устройствах.
    &__design{
        background-image: url(/img/icons/icon_1.png);
        background-size: 41px 35px;
    }
    &__photo{
        background-image: url(/img/icons/icon_2.png);
        background-size: 43px 35px;
    }
    &__web{
        background-image: url(/img/icons/icon_3.png);
        background-size: 41px 35px;
    }
    &__social{
        background-image: url(/img/icons/icon_4.png);
        background-size: 37px 37px;
    }
    &__marketing{
        background-image: url(/img/icons/icon_5.png);
        background-size: 44px 37px;
    }
    &__app{
        background-image: url(/img/icons/icon_6.png);
        background-size: 37px 37px;
    }
//========================================================================================================================================================

//========= Заголовок, ссылка и текст под иконками ==============================================================================================================================================
    // Обращение к заголовку. (service__title)
    &__title{
        // Задаём размер шрифта
        font-size: 22px;
        // Задаём ширину шрифта
        font-weight: 400;
        // Задаём внешний отступ в низ. В данном случае отталкиваем текст.
        margin-bottom: 25px;
    }
    // Обращаемся к тексту под заголовком. (service__texts)
    &__texts{
        // Задаём цвет текста используя шаблон.
        color: $text;
        // Задаём ширину шрифта
        font-weight: 400;
        // ЗАдаём размер шрифта
        font-size: 14px;
        // Межстройчный интервал
        line-height: 1.8;
        
    }
    // Обращаемся к ссылкам. (service__link)
    &__link{
        // Задаём цвет используя шаблон
        color:$dark;
        // Задаём размер шрифта
        font-size: 14px;
        // Задаём ширину шрифта
        font-weight: 400;
        // Убираем нижнее подчеркивание у ссылки.
        text-decoration: none;
        // Элементы начинают вести себя как блочные и выстраиваются согласно флекс модели.
        // В обычном значении означает, что все они построются в линию.
        display: flex;
        // Прижимаем флекс элементы к началу строки.
        justify-content: flex-start;
        // Выстраиваем флекс элементу по поперечной оси
        align-items: center;
        // Делаем ссылку родительским элементом
        position: relative;
        // Задаём высоту блоку ссылки
        height: 60px;

        // Обращение к спану внутри ссылки для создания линии
        &-line{
            // Показывает элемент как блочный.
            display: block;
            // Ширина линии (длинна)
            width: 25px;
            // Высота линии (толщина)
            height: 1px;
            // Обнуляем правый внутренний отступ
            padding-right: 0;
            // Задаём цвет используя шаблон
            background-color: $dark; 
        }
        // Обращаемся к тексту внутри ссылки
        &-text{
            // Обнуляем ширину текста
            width: 0;
            // Делаем текст невидимый
            opacity: 0;
            // Добавляем плавности в анимацию появления текста при наведении
            transition: 0.2s ease-in-out;
        }
    }
}
//========================================================================================================================================================

//===== Блок "Portfolio" (Портфолио===================================================================================================================================================
// Секция "Portfolio" Портфолио
.portfolio__section{
    // Задаём внутренний верхний отступ
    padding-top: 129px;
    // Задаём внутренний нижний отступ
    padding-bottom: 185px;
}
// Обращаемся к контейнеру портфолио (изображений)
.portfolio{
    // Верхний внешний отступ (От текста)
    margin-top: 83px;
    // Задаём блоку формат сетки. 
    display: grid;
    // Свойство отвечающее за разделение сетки на уровни.
    grid-template: repeat(7, 88px) / 1fr 1fr 1fr;
    // gap задаёт отступы между столбцами и строками, а не вдоль края контейнера сетки.
    grid-gap: 38px;
    // Обращение к элементам сетки (картинкам) и выстраивание их в сетку.
    &__item-01{
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }
    &__item-02{
        grid-column: 2 / 3;
        grid-row: 1 / 5;
    }
    &__item-03{
        grid-column: 3 / 4;
        grid-row: 1 / 4;
    }
    &__item-04{
        grid-column: 1 / 2;
        grid-row: 4 / 8;
    }
    &__item-05{
        grid-column: 2 / 3;
        grid-row: 5 / 8;
    }
    &__item-06{
        grid-column: 3 / 4;
        grid-row: 4 / 8;
    }
// Обращаемся к изображениям
    &-thumb{
        // Делаем блок родителем для кортинки
        position: relative;
        // Отображает только то, что есть внутри элемента, остальное скрывает (подрезает)
        overflow: hidden;
        // Ширина картинок
        width: 100%;
        // Высота картинок
        height: 100%;
        // Обращаемся напряму к тегу img
        img {
            // Задаём позицию относительно родителя
            position: absolute;
            // позиционирует по центру
            left: 50%;
            // позиционирует по центру
            top: 50%;
            // позиционирует по центру
            transform: translate(-50%, -50%);
            // задаёт полную ширину
            width: 100%;
            // задаёт полную высоту
            height: 100%;
            // Заполняет пространство собой полностью
            object-fit: cover;
        }
    }
}
//========================================================================================================================================================

//======= Блок "Hire me" (Нанять меня)=================================================================================================================================================
// Секция "Hire me" Нанять меня
.hire__me{
    // Внутренний верхний отступ
    padding-top: 99px;
    // Внутренний нижний отступ
    padding-bottom: 100px;
    // Задаём цвет фона с помощью шаблона
    background-color: $dark;
    // Задаём цвет текста
    color: #ffffff;
    // Выравниваем текст по центру
    text-align: center;
    // Обращаемся к ссылкке
    &-link{
        // Задаём цвет текста ссылки
        color: $dark;
        // Задаём фон ссылке
        background-color: #fff;
        // Убираем нижнее подчёркивание
        text-decoration: none;
        // Внутренние отступы (придаём размер фону картинки)
        padding: 12px 56px;
    }
    // Обращаемся к заголовку
    &-h2{
        // Задаём размер заголовка
        font-size: 48px;
        // Задаём ширину заголовка
        font-weight: 400;
        // Задаём нижний отступ для ссылки
        padding-bottom: 37px;
        // Обнуляем внешние отступы
        margin: 0;
    }
    // Обращаемся к тексту
    &-text{
        // Задаём размер шрифта
        font-size: 22px;
        // Задаём ширину шрифта
        font-weight: 400;
        // Задаём нижний отступ для заголовка
        padding-bottom: 14px;
        // Обнуляем внешние отступы
        margin: 0;
    }
}
//========================================================================================================================================================

//========= Секция "Feedback" (Отзывы) ===============================================================================================================================================
// Секция "FeedBack" Отзывы
.section__feedback{
    // Внутренний отступ сверху
    padding-top: 128px;
    // Внутренний отстут снизу
    padding-bottom: 185px;
}
// Обращение к контейнеру 
.feedback{
    // Внешний отступ сверху
    margin-top: 66px;
    // Элементы начинают вести себя как блочные и выстраиваются согласно флекс модели.
    // В обычном значении означает, что все они построются в линию.
    display: flex;
    // Одинаковое пространство между элементами, без отступов по краям.
    justify-content: space-between;
    // Обращение к блоку с отзывом
    &__item{
        flex: 0 0 45%;
        // Максимальая ширина в %
        max-width: 45%;  
    }
    // Обращение к содержимому отзыва
    &__top{
         // Элементы начинают вести себя как блочные и выстраиваются согласно флекс модели.
        // В обычном значении означает, что все они построются в линию.
        display: flex;
        // Флексы прижаты к началу строки.
        justify-content: flex-start;
        // Флексы выравниваются в начале поперечной оси контейнера.
        align-items: flex-start;
    }
    // Обращение к блоку картинки
    &__thumb{
        // Внешний отступ справа
        margin-right: 20px;
    }
    // Обращение к блоку с заголовком и должностью
    &__name{
        // Обращение к заголовку
        &-title{
            // Внешний отступ сверху
            margin-top: 14;
            // Внешний отступ снизу
            margin-bottom: 15px;
            // Размер шрифта 
            font-size: 22px;
            // Ширина шрифта
            font-weight: 400;
            // Цвет текста с использованием шаблона
            color: $dark;
        }
        // Обращение к параграфу (должности)
        &-job{
            // Размер шрифта
            font-size: 12px;
            // Ширина шрифта
            font-weight: 400;
            // Цвет текста использя шаблон
            color: $text;
            // Обнуление внешнего нижнего отступа
            margin-bottom: 0;
        }
    }
    // Обращение к тексту отзыва
    &__body{
        // Размер шрифта
        font-size: 18px;
        // Стиль шрифта
        font-style: italic;
        // Цвет текста с использованием шаблона
        color: $text;
        // Внутренний отступ слева
        padding-left: 30px;
        // Межстрочный интервал
        line-height: 1.8;
        // Делаем элемент родителем иконки ковычек
        position: relative;
        // Псевдо-элемент отвечающий за появление перед самим объектом
        &::before{
            // Обязательное свойство псвевдо-элемента
            content: '';
            // Позиционируем относительно родителя
            position: absolute;
            // Подгружаем иконку
            background-image: url(/img/icons/quote.png);
            // Не даём ей повторяться
            background-repeat: no-repeat;
            // Делаем её видимой как блочный элемент
            display: block;
            // Позиционируем сверху
            top: 0;
            // Позиционируем по левой стороне
            left: 25px;
            // Ширина иконки
            width: 39px;
            // Высота иконки
            height: 38px;
            // Точный размер
            background-size: 39px 38px;
        }
    }
}
//========================================================================================================================================================

//========= Блок "Responses" (Отклики) ===============================================================================================================================================
// Секция откликов
.section__responses{
    // Отступ сверху и снизу
    padding: 100px 0;
    // Цвет заливки используя шаблон
    background-color: $light;
}
// Контейнер
.responses{
    // Элементы начинают вести себя как блочные и выстраиваются согласно флекс модели.
    // В обычном значении означает, что все они построются в линию.
    display: flex;
    // Одинаковое пространство между элементами, без отступов по краям.
    justify-content: space-between;
    // Выравнивание текста по центру
    text-align: center;
    // Обращение к тексту
    &__quantity {
        // Размер шрифта
        font-size: 16px;
        // Ширина шрифта
        font-weight: 400;
        // Делаем текст заглавным
        text-transform: uppercase;
        // Обращаемся к цифрам
        span{
            // Задаём размер шрифта
            font-size: 24px;
            // Ширина шрифта
            font-weight: 500;
            // Делаем элемент блочным
            display: block;
            // Нижний внешний отступ
            margin-bottom: 20px;
        }
    }
    // Обращение к иконкам
    &__icon{
        // Цвет фона иконок используя шаблон
        background-color: $dark;
        // Ширина фона иконки
        width: 70px;
        // Высота фона иконки
        height: 70px;
        // Делаем круг закругляя края
        border-radius: 100%;
        // Выравниваем по центру
        margin: 0 auto;
        // Нижний отступ
        margin-bottom: 30px;
        // Выравниваем иконки по центру круга
        background-position: center center;
        // Не даём им повторятся
        background-repeat: no-repeat;
        // Обращаемся к классам иконок и загружаем их
        &-1{
         // Подключаем иконку
        background-image: url(/img/icons/heart.svg);
        // Жёсткий размер иконки
        background-size: 26px 23px ;
        }
        &-2{
            // Подключаем иконку
            background-image: url(/img/icons/case.svg);
            // Жёсткий размер иконки
            background-size: 26px 23px ;
            }
            &-3{
                // Подключаем иконку
                background-image: url(/img/icons/sh.svg);
                // Жёсткий размер иконки
                background-size: 26px 24px ;
                }
                &-4{
                    // Подключаем иконку
                    background-image: url(/img/icons/pr.svg);
                    // Жёсткий размер иконки
                    background-size: 19px 23px ;
                    }
    }
}
//========================================================================================================================================================

//======= Блок "form" (Форма связи) =================================================================================================================================================
// Секция Формы обратной связи.
.send__form{
    // Внутрненний отступ сверху
    padding-top: 128px;
    // Внутренний отступ снизу
    padding-bottom: 130px;
}
// Обращение к контейнеру формы
.form{
    // Элементы начинают вести себя как блочные и выстраиваются согласно флекс модели.
    display: flex;
    // Выстраиваем флексы в веритекальном положении (список один на один, как бургер)
    flex-direction: column;
    // Максимальная ширина формы
    max-width: 750px;
    // Выравниваем по центру
    margin: 0 auto;
    // Обращаемся к полям ввода
    &__input, &__textarea{
        // Убираем рамку
        border: none;
        // Добавляем нижнюю границу
        border-bottom: 1px solid #e1e1e1;
        // Размер шрифта
        font-size: 14px;
        // Ширина шрифта
        font-weight: 400;
        // Внутренний отступ в низ
        padding-bottom: 20px;
        // Внутренний отступ вверх
        padding-top: 34px;
        // Выравнивание текста по центру
        text-align: center;
        // Добавляем плавность анимации
        transition: 0.4s;
        // Обращаемся к псевдо-элементу который ответственен за активное состояниек.
        &:focus{
            // Убираем границы
            outline: none;
            // Добавляем нижнюю границу используя шаблон цвета
            border-bottom: 1px solid $dark;
        }
    }
    // Обращаемся к кнопке и стилизуем её
    &__button{
        // Внешний отступ сверху
        margin-top: 25px;
        // Устаналиваем цвет кнопки используя шаблон
        background-color: $dark;
        // Устанавливаем цвет текста
        color: #fff;
        // Внутренний отступ сверху и снизу 
        padding: 15px 0;
    }
}

//========================================================================================================================================================

//========== Блок "Footer" (Подвал) ==============================================================================================================================================
// Подвал.
footer{
    // Устанавливаем заливку используя шаблон
    background-color: $dark;
    // Делаем внутренний отступ сверху и снизу
    padding: 65px 0;
}
// обращаемся к контейнеру
.footer{
    // Элементы начинают вести себя как блочные и выстраиваются согласно флекс модели.
    display: flex;
    //Флексы равномерно распределяются по всей строке. 
    // Первый и последний элемент прижимаются к соответствующим краям контейнера. 
    justify-content: space-between;
    // Выравниваем элементы по центру
    align-items: center;
    // Красим текст
    color: #fff;
    // Задаём размер шрифта
    font-size: 16px;
}
// Обращаемся к ссылкам социальных сетей
.footer__social{
    // Делаем их блочными и выстраиваем в строку
    display: flex;
    // Убираем точки сбоку
    list-style-type: none;
    // Убираем нижний внутренний отступ
    padding-left: 0;
    // Обнуляем внешние отступы
    margin: 0;
    // Обращаемся к спискам и задам отступ между элементами
    &-item{
        // Внешний отступ слева
        margin-left: 25px;
    }
    // Обращаемся к ссылкам
    &-link{
        // Красим в белый
        color: #fff;
        // Размер шрифта
        font-size: 22px;
    }
}

//========================================================================================================================================================
